.footer{
    background-color: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    color: grey;
}

.footer__lists{
    /* text-decoration: none; */
    list-style: none;
    margin:1rem;
}

.footer__lists > li{
    /* word-spacing: 1rem; */
    line-height: 2rem;
}
 